body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.housing{
    width: 100%;
    height: auto;
}
.scroll_top{
    display: none;
    color: white;
    position: absolute;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
    padding: 3px 5px;
    border: none;
    border-radius: 0px;
    background-color: #323286;
}
.scroll_img{
    width: 15px;
    height: 15px;
}

/*search container*/
.search_con{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.90);
}
.search_con_sm{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.90);
}
.search{
    height: 100%;
}
.search_form_con{
    height: auto;
    border-radius: 20px;
    padding: 0px;
    background-color: white;
}
.search_form{
    height: auto;
    border-radius: 20px;
    background-color: white;
}
.form_content{
    height: 60vh;
    border-radius: 0px 0px 20px 20px;
    padding: 15px 0px;
    overflow-y: auto;
    background-color: white;
}
.pagi_b{
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: white;
}
.search_head{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: Quicksand;
    margin-bottom: 10px;
}
.search_box{
    width: 100%;
    height: auto;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    font-family: Quicksand;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: white;
}
.search_btn1{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #002752;
}
.search_head1{
    color: red;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
}
.search_box_sm{
    width: 100%;
    height: auto;
    color: #002752;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background: white;
}
.search_btn_sm{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Quicksand;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #001d3e;
}
.search_close{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 80px;
    right: 50px;
    border: none;
    padding: 10px;
    background-color: transparent;
}

/*search container ENDS*/

/*mobile menubar container*/
.slide_menu_con{
    width: 100%;
    height: auto;
    display: none;
    background-color: rgba(38, 38, 102, 0.85);
}
.slide_body_con{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    background-color: rgba(50, 50, 134, 0.6);
}
.drop_con_sm{
    position: relative;
}
.drop_content_sm{
    width: 100%;
    display: none;
    padding: 0px;
    background: white;
}
.drop_link{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
    padding: 8px 15px;
    background-color: #323286;
}
.slide_link{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
    padding: 10px 15px;
}
.active_link_sm{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
    padding: 10px 15px;
    background-color: #007bff;
}
.menu_arrow{
    color: white;
    font-size: 25px;
    padding: 0px 20px;
}
.menu_img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.menu_name{
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    font-family: Quicksand;
    margin-bottom: 0px;
}
.menu_role{
    color: #fd7e14;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin-bottom: 5px;
}
.log_btn{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Quicksand;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #dc3545;
}
.profile_con{
    padding: 20px 20px 20px;
    background-color: #001c3a;
}
.drop_icon2{
    transform: rotate(180deg);
}
.drop_con2{
    display: none;
}

/*mobile menubar container ENDS*/

/*header for small screen*/
.header_con_mob{
    height: auto;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 0px 5px #dee2e6;
}
.header_mob{
    height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.logo_con_mob{
    height: 45px;
    align-self: center;
}
.logo{
    width: auto;
    height: auto;
}
.menubar_con_mob{
    height: auto;
    display: flex;
    justify-content: center;
}
.search_con_mob{
    height: auto;
    display: flex;
    justify-content: center;
}
.menu_btn{
    color: #323286;
    font-size: 20px;
    border: 0px;
    padding: 2px 2px;
    background: white;
    align-self: center;
}
.notify{
    color: #323286;
    font-size: 20px;
    border: 0px;
    padding: 2px 0px;
    background: none;
    align-self: center;
}
.search_mob{
    width: 100%;
    display: none;
    padding: 3px 10px;
    background-color: white;
}
/*header for small screen ENDS*/

/*header for big screen*/
.header_con{
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: white;
    box-shadow: 0px 0px 3px;
}
.header{
    height: auto;
    background-color: transparent;
}
.header_content_con{
    height: auto;
    align-self: center;
}
.logo_con{
    height: auto;
}
.header_content{
    height: auto;
    background-color: white;
}

/*nav link container*/
.nav_con{
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.nav_link_con{
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.nav_link{
    align-self: center;
}
.active_link{
    color: #fd7e14;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px;
    padding: 15px 10px;
}
.nav_btn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #fd7e14;
}
.link{
    color: #002752;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
    padding: 15px 10px;
}
.link_drop{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    z-index: 5;
    margin: 0px;
    padding: 8px 10px;
    background-color: transparent;
}
.link2{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    margin: 0px;
    padding: 10px 10px;
    background-color: #323286;
}
.drop_con{
    position: relative;
}
.drop_content{
    width: 180px;
    height: auto;
    display: none;
    position: absolute;
    padding: 0px 0px;
    background-color: #002752;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


/*nav link container ENDS*/

/*header for big screen ENDS*/

/*banner_mobile*/
.banner_mob{
    width: 100%;
    height: auto;
}
.writter_con_mob{
    width: 100%;
    height: auto;
    padding: 15px 0px;
    display: flex;
    overflow: auto;
}
.writter_mob{
    width: auto;
    margin: 0px 10px;
}

.banner_mob_con{
    width: 100%;
    height: 250px;
    padding: 10px 10px;
}
.banner_link{
    padding: 10px;
}

/*banner_mobile ENDS*/


/*banner container*/
.banner_con{
    width: 100%;
    height: auto;
}
.banner{
    height: auto;
}
.banner_content_con{
    height: auto;
}
.banner_content1{
    height: auto;
    background-color: transparent;
}
.banner1{
    height: auto;
}
.banner2{
    height: auto;
}
.banner_2{
    height: 150px;
    overflow: hidden;
    background-color: white;
}
.banner_2_2{
    height: 150px;
}
.banner_img_md{
    width: 100%;
    height: 150px;
}
.banner_img_lg{
    width: 100%;
    height: 300px;
    transition: all 0.3s ease-in-out;
}
.banner_text_con{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.70), black);
}
.banner_text_lg{
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    font-family: Oswald;
    margin: 0px 0px 10px;
}

.banner_content2{
    height: auto;
}
.banner_status_con{
    height: auto;
    padding: 0px 0px;
    background-color: white;
}
.banner_header{
    color: #323286;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px 0px 10px;
}
.socail_icon{
    width: 40px;
    height: 30px;
}
.banner_form{
    height: auto;
}
.banner_box{
    width: 100%;
    height: auto;
    color: #323286;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border-right: none;
    border-top: 1px dashed #323286;
    border-left: 1px dashed #323286;
    border-bottom: 1px dashed #323286;
    padding: 5px 5px;
    background: transparent;
}
.banner_btn{
    color: #323286;
    font-size: 13px;
    border-left: none;
    border-top: 1px dashed #323286;
    border-right: 1px dashed #323286;
    border-bottom: 1px dashed #323286;
    padding: 5px 10px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.banner_folk_con{
    height: 150px;
    padding: 0px 0px;
    background-color: white;
}
.banner_arrow{
    font-size: 30px;
}
/*banner container ENDS*/

/*body container*/
.body_con{
    height: auto;
    padding: 20px 0px;
    background-color: white;
}
.body_content_con{
    height: auto;
}
.body1{
    height: auto;
}

/*latest post container*/
.latest_header_con{
    border-bottom: 1px solid #dee2e6;
    margin: 0px 0px 20px;
}
.latest_header{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    font-family: Oswald;
    margin: 0px 5px 0px;
}
.more{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border-radius: 3px;
    margin: 0px;
    padding: 7px 15px;
    background-color: #444444;
}
.holi{
    width: 100%;
}
.latest_row{
    height: auto;
}
.latest_post{
    height: auto;
    margin: 0px 0px 15px;
}
.view{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 3px 5px;
    background-color: rgba(50, 50, 134, 0.80);
}
.latest_post_img{
    width: 100%;
    height: 150px;
}
.latest_post_text{
    color: #222222;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px 0px 10px;
}
.time{
    color: #323286;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px;
}
.type{
    color: #323286;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px;
}
.play{
    color: #323286;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border-top: 2px solid #323286;
    border-right: 2px solid #323286;
    border-left: 2px solid #fd7e14;
    border-bottom: 2px solid #fd7e14;
    border-radius: 20px;
    margin: 10px 0px 0px;
    padding: 3px 20px;
    background: transparent;
}

.pagi_con{
    width: 100%;
    height: auto;
}
.pagi_item{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px 0px 0px;
    padding: 10px 15px;
    background-color: #323286;
}
.pagi_item_active{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px 0px 0px;
    padding: 10px 15px;
    background-color: #fd7e14;
}

/*latest post container ENDS*/

/*music container*/
.music_player{
    width: 100%;
    margin: 0px 0px 10px;
}
.post_row{
    height: auto;
}
.post1_con{
    height: auto;
}
.post_img_con{
    height: auto;
    margin: 0px 0px 10px;
}
.post_img{
    width: 100%;
    height: 180px;
}
.post_img_lg{
    width: 100%;
    height: 220px;
}
.post_detail{
    height: auto;
    margin: 0px 0px 10px;
}
.post_text_lg{
    color: #222222;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    font-family: Oswald;
    margin: 0px 0px 10px;
}
.post_desc{
    color: gray;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px 0px 10px;
}

.post2_con{
    height: auto;
}
.post_img_sm{
    width: 90px;
    height: 80px;
}
.post_text{
    color: #222222;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px 0px 10px;
}
/*music container ENDS*/

/*videos container*/
.video_post_con{
    height: auto;
    position: relative;
    margin: 0px 0px 20px;
}
.video_text_con{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.70), black);
}
.post_text_md{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px 0px 10px;
}
.post_img_md{
    width: 100%;
    height: 220px;
}
.video_icon{
    display: none;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    padding: 8px 13px;
    background-color: rgba(50, 50, 134, 0.80);
}
/*videos container ENDS*/

/*single post container*/
.post_head{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
    padding: 3px 10px;
    background-color: #007bff;
}
.author_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.author_name{
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
}
.post_header{
    color: black;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    font-family: Oswald;
}
.post_share{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: Quicksand;
}
.post_share_item{
    margin: 5px 0px 3px;
}
.single_post_text{
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 3px;
    font-family: Quicksand;
}
.single_post_img{
    width: 100%;
    height: auto;
    margin: 0px 0px 20px;
}
.download_text{
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px;
}
.download_btn{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    margin: 0px 10px 0px 0px;
    padding: 10px 20px;
    background-color: #323286;
}
.like{
    color: #00b300;
    font-size: 30px;
    border: 1px solid #dee2e6;
    padding: 0px 10px;
    background-color: transparent;
}
.hate{
    color: #c4122f;
    font-size: 30px;
    border: 1px solid #dee2e6;
    padding: 0px 10px;
    background-color: transparent;
}
.tag_con{
    height: auto;
}
.tag{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px 10px 0px 0px;
    padding: 3px 10px;
    background-color: #007bff;
}
.tag_link{
    color: white;
    text-transform: capitalize;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px 5px 5px 0px;
    padding: 7px 10px;
    background-color: #444444;
}

.comment_form_con{
    width: 100%;
    height: auto;
}
.comment_form{
    height: auto;
}
.comment_header{
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    font-family: Oswald;
}
.comment_label{
    color: #323286;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
}
.comment_box{
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #f6fbff;
}
.comment_message{
    width: 100%;
    height: 120px;
    outline: none;
    color: #002752;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: white;
}
.comment_btn{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #002752;
}

/*single post container*/

.body2{
    height: auto;
}
.advert_con{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.advert1{
    width: 300px;
    height: 250px;
    background-color: #dee2e6;
}
.aside_post_header_con{
    height: auto;
    margin: 0px 0px 10px;
}
.advert2{
    width: 728px;
    height: 90px;
    background-color: #dee2e6;
}
.advert3{
    width: 300px;
    height: 100px;
    background-color: #dee2e6;
}

.aside_post_header{
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: Oswald;
    margin: 0px 0px 5px;
}

/*body container ENDS*/




/*contact container*/
.contact_con{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: whitesmoke;
}
.contact{
    height: auto;
}
.message_con{
    height: auto;
    padding: 0px;
}
.message_header{
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    font-family: Quicksand;
}
.message_form_con{
    width: 100%;
    height: auto;
    margin: 0px auto;
}
.message_form{
    width: 100%;
    height: auto;
}
.contact_label{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Oswald;
    margin: 0px;
}
.message_box{
    width: 100%;
    height: 180px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 5px 0px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
}
.message_btn_con{
    width: 100%;
    height: auto;
    padding: 5px 0px;
}
.reset_btn{
    color: #fd7e14;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    border-top: 2px solid #fd7e14;
    border-right: 2px solid #fd7e14;
    border-left: 2px solid #323286;
    border-bottom: 2px solid #323286;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: white;
}
.submit_btn3{
    color: #323286;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    border-top: 2px solid #323286;
    border-right: 2px solid #323286;
    border-left: 2px solid #fd7e14;
    border-bottom: 2px solid #fd7e14;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: white;
}

.map_con{
    width: 100%;
    height: auto;
    background-color: transparent;
}
.map{
    width: 100%;
    height: 400px;
}
/*contact container ENDS*/


/*register container*/
.register_con{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}
.register{
    height: auto;
    padding: 30px 0px;
}
.register_btn_con{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.register_btn{
    height: auto;
    border: 3px solid #002752;
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
}
.btn_active{
    background-color: #002752;
}
.btn_not_active{
    background-color: transparent;
}
.login_btn{
    width: 50%;
    color: #fd7e14;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    padding: 5px 30px;
}
.signup_btn{
    width: 50%;
    color: #fd7e14;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: Quicksand;
    border: none;
    padding: 5px 30px;
}
.register_content_con{
    width: 100%;
    height: auto;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}
.register_content{
    height: auto;
}
.form_con{
    height: auto;
    padding: 10px 0px;
}
/*login form container*/
.login_form{
    width: 100%;
    height: auto;
    border: 2px solid #dee2e6;
    border-radius: 0px;
    padding: 20px 0px;
    align-self: center;
    background-color: white;
}
.form_header{
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    font-family: Quicksand;
}
.form_label{
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
}
.form_icon{
    border-top: 2px solid #dee2e6;
    border-left: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    padding: 5px 8px;
    background: #dee2e6;
}
.form_img{
    width: 25px;
    height: 25px;
}
.forgot{
    color: black;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
}
.contact_box{
    width: 100%;
    height: auto;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
}
.log_name_box{
    width: 100%;
    height: auto;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #dee2e6;
    padding: 3px 10px;
    background-color: white;
}
.password_box{
    width: 100%;
    height: auto;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 5px;
}
.log_password_box{
    width: 100%;
    height: auto;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #dee2e6;
    padding: 5px 8px;
    background-color: white;
}
.login_btn_con{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.submit_btn{
    color: #323286;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border-top: 2px solid #fd7e14;
    border-right: 2px solid #fd7e14;
    border-bottom: 2px solid #323286;
    border-left: 2px solid #323286;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: transparent;
}
/*login form container ENDS*/

/*signup form container*/
.signup_form{
    display: none;
    width: 100%;
    height: auto;
    border: 2px solid #dee2e6;
    border-radius: 3px;
    padding: 10px 0px;
    align-self: center;
    background-color: transparent;
}
.check_box{
    width: 20px;
    height: 18px;
    margin: 0px 0px;
}
.check_text{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    margin: 0px;
}
.signup_btn_con{
    width: 100%;
    height: auto;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}
.submit_btn2{
    color: #323286;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    border-top: 2px solid #323286;
    border-right: 2px solid #323286;
    border-bottom: 2px solid #fd7e14;
    border-left: 2px solid #fd7e14;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: transparent;
}
/*signup form container ENDS*/

/*register container*/

/*footer container*/
.footer_con{
    height: auto;
    background-color: #232324;
}
.footer{
    height: auto;
}
.footer_content_con1{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer_link_con{
    height: auto;
    margin: 20px 0px 10px;
}
.footer_link{
    padding: 0px;
}
.footer_link_header{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    font-family: Quicksand;
    margin: 0px;
    text-shadow: 1px 1px gray;
}
.link_con{
    color: gray;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    font-family: Quicksand;
    margin: 0px 0px 5px;
    padding: 5px 10px;
    transition: all 0.5s ease-in-out;
}

.copy_right_con{
    height: auto;
    padding: 10px;
    border-top: 1px solid gray;
}
.copy_right{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    font-family: Quicksand;
    margin: 0px;
    align-self: center;
}
.powered_by{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    font-family: Quicksand;
    margin: 0px;
    align-self: center;
}
.power{
    color: #dee2e6;
    font-size: 15px;
    font-weight: 500;
    font-family: Oswald;
}
.footer_logo{
    height: 30px;
}
/*footer container ENDS*/







/*hover effects*/
input{
    outline: none;
}
button{
    outline: none;
}
select{
    outline: none;
}
option{
    outline: none;
}

.link:hover{
    color: #fd7e14;
}
.active_link:hover{
    color: #fd7e14;
}
.link_drop:hover{
    color: #002752;
    background-color: white;
}
.drop_con:hover .drop_content{
    display: block;
}


.banner1:hover .magic{
    display: block;
}
.banner_2_1:hover .magic{
    display: block;
}
.banner_2_2:hover .magic{
    display: block;
}
.banner_btn:hover{
    background-color: #dee2e6;
}

.drop:hover .drop_con{
    display: block;
}
.latest_post_text:hover{
    text-decoration: underline;
}
.post_text:hover{
    text-decoration: underline;
}
.post_text_lg:hover{
    text-decoration: underline;
}

.video_post_con:hover .video_icon{
    display: block;
}
.ban:hover .video_icon{
    display: block;
}
.post_img_con:hover .video_icon{
    display: block;
}

.tag_link:hover{
    text-decoration: underline;
}

.type:hover{
    color: #fd7e14;
}
.play_down:hover{
    color: #fd7e14;
}

.status_img_con:hover .status_img{
    transform: scale(1.1);
}

.pagi_item:hover{
    color: white;
    background-color: #fd7e14;
}

.link_con:hover{
    color: white;
}

.sub_btn:hover {
    color: white;
    background-color: #28a745;
    transition: 0.3s;
}




















/*hover effects ENDS*/
